body{
    padding: 0;
    margin: 0;
    background-color: white;
}
.logo img{
    position:absolute;
    top: 10px;
    left: -26px;
    width: 200px;
    height: 70px;
    margin-top: 10px;
    margin-left: 50px;
    background-color: tomato;
}
.img{
    width: 100%;
    height:240px;
    margin-top: 20px;
}
.header-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.search{
    width:500px;
    height: 30px;
    margin-left: 250px;
    margin-top: 10px;
    font-size: 20px;
    font-size: 15px;
    padding-left: 15px;
}
.dropdown{
    margin-top: 10px;
    margin-left:20px;
    width: 130px;
    height: 25px;
    border-color: aliceblue;
    background-color:white;
    font-size:15px;
    padding: 3px;
    padding-left:15px;
}
.next-line{
    display: flex;
    flex-direction: row;
    margin-left: 240px;
}
.space{
    margin-left:16px;
    margin-right:16px;
    font-size:17px;
    font-family:'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.heading{
    font-size: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    color: rgb(67, 64, 64);
}
.btn-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.language{
    font-size:15px;
    border-radius: 30px;
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 20px;
    background-color: white;
    color: red;
    border: solid 1px rgb(223, 187, 187);
}
.language:hover{
    box-shadow: 0 0 5px 1px rgb(157, 151, 151);
}
.movie-poster{
    height:350px;
    width:auto;
    margin: 10px;
   margin-top: 40px;
   flex-wrap: wrap;
   margin-left: 60px;
}
